/* Grundlegendes Styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #ffffff;
}

/* Seitenbereiche */
 main, footer {
  padding: 20px;
  max-width: 800px;
    margin-left: 0;
  margin-right: auto;
}

/* Header */
header {
  background-color: #000000;
  text-align: center;
  padding: 40px 0px;
   width: 100%;
}

/* Überschriften */
 h2 {
  color: #000000;
}
/*über mich */
.über-mich {
  background-color: #f49f9f; /* Schwarz */
  color: #fff; /* Weißer Text */
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}


.über-mich-bild
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4a5a5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
/*Schulische Laufbahn */
.Schulische_Laufbahn {
  background-color: #f49f9f; /* Schwarz */
  color: #fff; /* Weißer Text */
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

/*Hobbys */
.Hobbys {
  background-color: #f49f9f; /* Schwarz */
  color: #fff; /* Weißer Text */
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}
a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}
